# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

data/
drive/

# Data & model files
*.wav
*.pt
*.h5
*.ckpt
runs/
uploads/
static/
temp_audio.wav

# OS or editor specific
.DS_Store
*.swp
